body{
    font-family: Arial;
    background-color: lightblue;
    opacity: 100%;
}
h1{
    color: rgb(5, 77, 113);
    font-family: 'Times New Roman';
    font-style: italic;
    text-align: center;
}
h2{
    color:rgb(16, 16, 114);
    font-style: italic;
    text-align: center;

}
h3{
    text-align: center;
}

.label-title {
    text-align: center;
    font-style: oblique;
    font-size: large;
    color:rgb(16, 16, 114);
}
.form-style{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style fieldset{
	border: none;
}
.form-style legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style label {
	display: block;
	margin-bottom: 8px;
}

.form-style select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#000000;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

.form-style textarea:focus,
.form-style select:focus{
	background: #d2d9dd;
}
.form-style select{
	-webkit-appearance: menulist-button;
	height:35px;
}


.form-style input[type="submit"],
.form-style input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.form-style input[type="reset"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #bc1a1a;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #d31414;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover
{
	background: #10725f;
}

.form-style input[type="reset"]:hover {
    background: #a32323;
}


.form-style input[type="number"]
 {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style input[type="number"]:focus,
.form-style textarea:focus,
.form-style select:focus{
	background: #d2d9dd;
}

.logo {
    background: left / cover url('/media/examples/puppy-header-logo.jpg');
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    font:
      bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script',
      fantasy;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
  }
  
  header > h1 {
    margin-bottom: 0;
  }
  
  header > time {
    font: italic 0.7rem sans-serif;
  }


  .back
{
    background-color: rgb(87, 87, 242);
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.back:hover {
    background-color: rgb(87, 87, 242);
}

table {
	margin-left: auto;
	margin-right: auto;
  table-layout: fixed;
  width: 40%;
  border-collapse: collapse;
 
}
